Flask~=3.1.1
Werkzeug~=3.1.3
dotenv~=0.9.9
python-dotenv~=1.1.0
pandas~=2.2.3
scikit-learn~=1.6.1
prophet~=1.1.6
firebase_admin
flask_cors
groq~=0.25.0
instructor~=1.8.2
pydantic~=2.11.4
easyocr
opencv-python-headless
fastmrz
pytesseract
magic-pdf[full-cpu]
fuzzywuzzy[speedup]
ultralytics
doclayout_yolo
rapid_table
omegaconf